requests~=2.25.1
django~=2.2.9
pytest~=6.1.2
pytest-django
djangorestframework~=3.12.2
djangorestframework-simplejwt

django-filter~=2.4.0
pip~=20.2.4
wheel~=0.35.1
py~=1.9.0
pytz~=2020.4
sqlparse~=0.4.1
asgiref~=3.3.1
setuptools~=50.3.2
PyJWT~=2.0.1